html{

    background-color: whitesmoke;
}

body{
    font-family: 'Roboto', sans-serif;
}
.logo{
    width: 300px;
    clear: left;
    float: left;
}
h1{
    margin-top: 50px;
    padding: 20px;
    text-decoration: underline;
    font-family: 'Roboto',sans-serif;
    border: 5px solid black;
    border-radius: 80px;
    display: inline-block;
}
a{
    color: black;
}
table{
    margin: 4rem;
}
th{
    font-size: 5rem;
    padding: 10px;
}
.timetable{
    width: 2rem;
}

td{
    border: solid 1px whitesmoke;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: 1.6rem;
    text-align: left;
    padding-left: 10px;
    width: 300px;
    margin: 100px;
}
#login{
    border: 1px double white;
    clear: right;
    float: right;
    margin: 3rem;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 40px;
}
#datas{
    margin: auto;
    padding: 1rem;
    color: white;
}
#loginbutton{
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 40px;
    margin: 5px;
    font-size: 1rem;
    padding: 3px;
    width: 100px;
}

td:hover{
    transition: 0.5s;
    transform: scale(1.1,1.1)
}
